.detalle-producto {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .detalle-producto h2 {
    margin-bottom: 10px;
  }
  
  .detalle-producto p {
    margin: 5px 0;
  }
  .detalle-producto .boton-agregar-al-carrito {
    background-color: blue;
    color: rgba(210, 5, 5, 0.675);
  }