.lista-discos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .disco-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    color: rgb(29, 187, 222);
    background-color: rgb(232, 228, 13);
  }
  .ver-detalles {
    color: black;
    font-size: 15px;
    background-color: blue;
  }
  
  .disco-item h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .disco-item p {
    margin: 5px 0;
  }