.lista-discos {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.lista-discos ul {
    list-style-type: none;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    
}

.lista-discos li {
    padding: 15px;
    font-size: 20px;
    color: rgb(105, 35, 171);
    background-color:rgb(233, 189, 111);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;

}
